<div class="container">
 <div class="row">
  <div class="col-4 mx-auto">
  <%= render "searches/form" %>
  </div>
 </div>
 <div class="row">
  <div class="col-4 mx-auto">
  <% @posts.each do |post| %>
   <div class="card">
      <% if post.image.attached? %>
       <%= link_to post_path(post) do %>
        <%= image_tag post.image, size: "400x400" %>
   <div class="card-img-overlay">
     <%= image_tag post.user.profile_image, class: "rounded-circle" %>
    <P class="text-white"><%= post.user.name %></P>
    <p class="text-white"><%= post.title %></p>
   </div>
   </div>
        <% end %>
      <% end %>
    <% end %>
     </div>
    </div>
  </div>