<div class="container">
 <div class="row">
  <div class="col-12 clearfix">
    <div class="float-right ">
     <%= link_to new_post_path, class: "text-dark text-center bg-light" do %>
       <i class="fas fa-light fa-plus"></i>投稿する
     <% end %>
     <P></P>
     <%= render "searches/form" %>
    </div>
  </div>
 </div>
</div>

<div class="container mt-3">
 <div class="row">
  <div class="col-2"></div>
  <div class="col-4 mx-auto">
   <h2><strong>最新投稿</strong></h2>
  </div>
 </div>
<div class="row">
 <div class="col-1"></div>
 <div class="col-4 mx-auto">
  <%= render "genres/genrebar" %>
 </div>
</div>
</div>
<div class="container">
 <div class="row mt-3">
   <% @posts.each do |post| %>
    <div class="col-4 mx-auto mt-4">
     <div class="card mx-auto" style="border: none; width: 300px; ">
       <% if post.image.attached? %>
        <%= link_to post_path(post) do %>
         <%= image_tag post.image, size: "300x300"%>
         <div class="card-img-overlay">
          <%= image_tag post.user.get_profile_image, class: "rounded-circle", :width =>'80', :height =>'80' %>
          <P class="text-white"><%= post.user.name %></P>
          <p class="text-white"><%= post.title %></p>
         </div>
       <% end %>
      <% end %>
     </div>
    </div>
   <% end %>
  </div>
 </div>
 <div class="container mt-1">
  <div class="row">
   <div class="col-2 mx-auto">
    <%= paginate @posts %>
   </div>
  </div>
 </div>