<header style="background-color: 	#EEEEEE">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><%= image_tag asset_path('onsen.png'), class: "rounded-circle", :width =>'80', :height =>'80' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class='nav-item'>
            <%= link_to user_path(current_user),class: 'nav-link text-dark' do %>
              <i class="fas fa-home"></i> MyPage
            <% end %>
          </li>
          <li class='nav-item'>
            <%=  link_to posts_path ,class: 'nav-link text-dark' do %>
              <i class="fa fa-edit" aria-hidden="true"></i> Posts
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to maps_posts_path, class: 'nav-link text-dark' do %>
            <i class="fas fa-solid fa-globe"></i> Map
            <% end %>
          </li>
          <% if unchecked_notifications.any? %>
            <i class="fas fa-circle" style="color: gold;"></i>
          <% end %>
          <li class='nav-item'>
            <%= link_to notifications_path, class: 'nav-link text-dark' do %>
              <i class="fas fa-solid fa-bell"></i> Notice
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-dark' do %>
              <i class="fas fa-sign-out-alt"></i> Logout
            <% end %>
          </li>
        <% else %>
          <li class='nav-item'>
            <%=  link_to posts_path ,class: 'nav-link text-dark' do %>
              <i class="fa fa-edit" aria-hidden="true"></i> Posts
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to maps_posts_path, class: 'nav-link text-dark' do %>
            <i class="fas fa-solid fa-globe"></i> Map
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path,class: 'nav-link text-dark' do %>
              <i class="fas fa-user-plus"></i> Sign Up
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path ,class: 'nav-link text-dark' do %>
              <i class="fas fa-sign-in-alt"></i> Login
            <% end %>
          </li>
          <li>
            <%= link_to users_guest_sign_in_path, method: :post, class: 'nav-link text-dark' do %>
              <i class="fas fa-duotone fa-users"></i> Guest Login
            <% end %>
          </li>

        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>